export SOPS_AGE_KEY_FILE=~/homelab.age.key
# external cluster
export KUBECONFIG="./k3s.yaml"
# local cluster
# export KUBECONFIG=$(k3d kubeconfig write cluster)

export ANSIBLE_INVENTORY=$HOME/homelab/ansible/inventory.ini
