---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 3
  selector:
    matchLabels:
      pod: cloudflared
  template:
    metadata:
      labels:
        pod: cloudflared
    spec:
      containers:
        - image: cloudflare/cloudflared:2026.1.2
          name: cloudflared
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cf-tunnel-token
                  key: token
          args:
            - tunnel
            - --no-autoupdate
            - --metrics=0.0.0.0:3333
            - run
          livenessProbe:
            httpGet:
              path: /ready
              port: 3333
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
