---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: grafana
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  values:
    admin:
      existingSecret: basic-auth
      userKey: username
      passwordKey: password
    persistence:
      enabled: true
      existingClaim: grafana
