---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: intel.feature.node.kubernetes.io/gpu
                    operator: In
                    values: ["true"]
      containers:
        - name: jellyfin
          image: ghcr.io/jellyfin/jellyfin:10.11.5
          imagePullPolicy: IfNotPresent
          # pass through iGPU to allow hardware transcoding
          resources:
            requests:
              memory: 320Mi
              gpu.intel.com/i915: "1"
            limits:
              memory: 1024Mi
              gpu.intel.com/i915: "1"
          ports:
            - name: http
              containerPort: 8098
          envFrom:
            - configMapRef:
                name: jellyfin-config
          volumeMounts:
            - name: jellyfin-data
              mountPath: /config
            - name: jellyfin-cache
              mountPath: /cache
            - name: jellyfin-media
              mountPath: /media
      volumes:
        - name: jellyfin-data
          persistentVolumeClaim:
            claimName: jellyfin-data
        - name: jellyfin-cache
          persistentVolumeClaim:
            claimName: jellyfin-cache
        - name: jellyfin-media
          persistentVolumeClaim:
            claimName: jellyfin-media
