---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: external-pihole-endpoint
  namespace: kube-system
  labels:
    kubernetes.io/service-name: external-pihole
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 80
endpoints:
  - addresses:
      - "192.168.0.42"
---
apiVersion: v1
kind: Service
metadata:
  name: external-pihole
  namespace: kube-system
spec:
  clusterIP: None
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: external-pihole
  namespace: kube-system
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`pihole-prod.maurovi.ch`)
      services:
        - name: external-pihole
          port: 80
