---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: proxmox-insecure
  namespace: kube-system
spec:
  insecureSkipVerify: true
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: external-truenas-endpoint
  namespace: kube-system
  labels:
    kubernetes.io/service-name: external-truenas
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 80
endpoints:
  - addresses:
      - "192.168.0.30"
---
apiVersion: v1
kind: Service
metadata:
  name: external-truenas
  namespace: kube-system
spec:
  clusterIP: None
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: external-truenas
  namespace: kube-system
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`truenas.maurovi.ch`)
      services:
        - name: external-truenas
          port: 80
          serversTransport: proxmox-insecure
