---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: radarr
spec:
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: linuxserver/radarr:version-6.0.4.10291
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 7878
          envFrom:
            - configMapRef:
                name: radarr-config
            - secretRef:
                name: radarr-db-secrets
          volumeMounts:
            - name: radarr-data
              mountPath: /config
            - name: radarr-movies
              mountPath: /movies
            - name: radarr-downloads
              mountPath: /downloads
      volumes:
        - name: radarr-data
          persistentVolumeClaim:
            claimName: radarr-data
        - name: radarr-movies
          persistentVolumeClaim:
            claimName: radarr-movies
        - name: radarr-downloads
          persistentVolumeClaim:
            claimName: radarr-downloads
