---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus
  namespace: gatus
data:
  config.yaml: |
    metrics: true
    storage:
      type: postgres
      path: "${POSTGRES_CONNECTION_STRING}"

    alerting:
      telegram:
        token: "${TELEGRAM_BOT_TOKEN}"
        id: "${TELEGRAM_USER_ID}"

    endpoints:
      - name: IT - Tools
        url: "http://it-tools.it-tools.svc.cluster.local"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Miniflux
        url: "http://miniflux.miniflux.svc.cluster.local/healthcheck"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
          - "[BODY] == OK"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Paperless-ngx
        url: "http://paperless-ngx.paperless-ngx.svc.cluster.local"
        interval: 60s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Recipes
        url: "http://recipes.recipes.svc.cluster.local"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Vaultwarden
        url: "http://vaultwarden.vaultwarden.svc.cluster.local/alive"
        interval: 60s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Jellyfin
        url: "http://jellyfin.jellyfin.svc.cluster.local/health"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
          - "[BODY] == Healthy"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Jellyseerr
        url: "http://jellyseerr.jellyseerr.svc.cluster.local/api/v1/status"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Radarr
        url: "http://radarr.radarr.svc.cluster.local/ping"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
          - "[BODY].status == OK"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Sonarr
        url: "http://sonarr.sonarr.svc.cluster.local/ping"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
          - "[BODY].status == OK"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Prowlarr
        url: "http://prowlarr.prowlarr.svc.cluster.local/ping"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
          - "[BODY].status == OK"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Sabnzbd
        url: "http://sabnzbd.sabnzbd.svc.cluster.local/api?mode=version&apikey=${SABNZBD_API_KEY}"
        interval: 120s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Gotify
        url: "http://gotify.gotify.svc.cluster.local/health"
        interval: 60s
        conditions:
          - "[STATUS] == 200"
          - "[BODY].health == green"
          - "[BODY].database == green"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Portainer
        url: "http://portainer.portainer.svc.cluster.local/api/status"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Homarr
        url: "http://homarr.homarr.svc.cluster.local:7575"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: pgAdmin
        url: "http://pgadmin.pgadmin.svc.cluster.local/misc/ping"
        interval: 300s
        conditions:
          - "[STATUS] == 200"
          - "[BODY] == PING"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Apprise
        url: "http://apprise.apprise.svc.cluster.local/status"
        interval: 60s
        conditions:
          - "[STATUS] == 200"
          - "[BODY] == OK"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Beszel
        url: "http://beszel-hub.beszel.svc.cluster.local/api/health"
        interval: 30s
        conditions:
          - "[STATUS] == 200"
          - "[BODY].code == 200"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Redis
        url: "tcp://redis-master.redis.svc.cluster.local:6379"
        interval: 60s
        conditions:
          - "[CONNECTED] == true"
          - "[RESPONSE_TIME] < 800"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Cert Manager
        url: "http://cert-manager-webhook.cert-manager.svc.cluster.local:9402"
        interval: 60s
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Postgres (cnpg-rw)
        url: "tcp://cn-postgresql-cluster-rw.cnpg-system.svc.cluster.local:5432"
        interval: 60s
        conditions:
          - "[CONNECTED] == true"
          - "[RESPONSE_TIME] < 2000"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: PG Backup (barman-cloud)
        url: "tcp://barman-cloud.cnpg-system.svc.cluster.local:9090"
        interval: 60s
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: telegram
            send-on-resolved: true

      - name: Grafana
        url: "http://grafana.grafana.svc.cluster.local/api/health"
        interval: 60s
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: telegram
            send-on-resolved: true
