---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus
  namespace: gatus
data:
  config.yaml: |
    metrics: true
    storage:
      type: postgres
      path: "${POSTGRES_CONNECTION_STRING}"

    alerting:
      telegram:
        token: "${TELEGRAM_BOT_TOKEN}"
        id: "${TELEGRAM_USER_ID}"

    security:
      basic:
        username: ${USERNAME}
        password-bcrypt-base64: ${PASSWORD_BCRYPT_BASE64}

    endpoints:
      - name: speedtest-prod
        url: "http://openspeedtest.openspeedtest.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: ittools-prod
        url: "http://it-tools.it-tools.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: miniflux-prod
        url: "http://miniflux.miniflux.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: paperlessngx-prod
        url: "http://paperless-ngx.paperless-ngx.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: recipes-prod
        url: "http://recipes.recipes.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: vaultwarden-prod
        url: "http://vaultwarden.vaultwarden.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: jellyfin-prod
        url: "http://jellyfin.jellyfin.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: jellyseerr-prod
        url: "http://jellyseerr.jellyseerr.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: radarr-prod
        url: "http://radarr.radarr.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: sonarr-prod
        url: "http://sonarr.sonarr.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: prowlarr-prod
        url: "http://prowlarr.prowlarr.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: sabnzbd-prod
        url: "http://sabnzbd.sabnzbd.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: gotify-prod
        url: "http://gotify.gotify.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: portainer-prod
        url: "http://portainer.portainer.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: homarr-prod
        url: "http://homarr.homarr.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: pgadmin-prod
        url: "http://pgadmin.pgadmin.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: apprise-prod
        url: "http://apprise.apprise.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: beszel-prod
        url: "http://beszel-hub.beszel.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"

      - name: croc-prod
        url: "http://croc.croc.svc.cluster.local/"
        interval: 60s
        conditions:
          - "[STATUS] == 200"
