---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: grafana
      version: 10.4.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  values:
    admin:
      existingSecret: basic-auth
      userKey: username
      passwordKey: password
    persistence:
      enabled: true
      existingClaim: grafana

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources: []
        datasources:
          - name: loki-0
            uid: loki-0
            type: loki
            access: proxy
            url: http://loki-gateway.loki.svc.cluster.local
            isDefault: true
            editable: false # prevents UI edits that diverge from Git
            jsonData:
              maxLines: 1000
              timeout: 60
              derivedFields: []
            secureJsonData: {}

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: homelab
            orgId: 1
            folder: Homelab
            type: file
            disableDeletion: false
            editable: false
            updateIntervalSeconds: 30
            options:
              path: /var/lib/grafana/dashboards/homelab
    dashboardsConfigMaps:
      homelab: homelab-dashboard
