---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx
  namespace: paperless-ngx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless-ngx
  template:
    metadata:
      labels:
        app: paperless-ngx
    spec:
      containers:
        - name: paperless-ngx
          image: ghcr.io/paperless-ngx/paperless-ngx:2.20.5
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8000
          resources:
            requests:
              memory: 512Mi
            limits:
              memory: 1024Mi
          envFrom:
            - configMapRef:
                name: paperless-ngx-config
            - secretRef:
                name: paperless-ngx-secrets
          volumeMounts:
            - name: paparless-ngx-documents
              mountPath: /mnt/paperless-documents
      volumes:
        - name: paparless-ngx-documents
          persistentVolumeClaim:
            claimName: paperless-ngx-nfs-pvc
